*
{
	margin:0;
	padding:0;

}
/*html {
  --text-color-normal: #0a244d;
  --text-color-light: #8cabd9;
}

html[data-theme='dark'] {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}*/

/*----------for dark mode--------------*/

html{
	--bg: #fcfcfc;
	--bg-panel:#ebebeb;
	--color-headings:#0077ff;
	--color-text:#333333;

}

html[data-theme='dark']{
	--bg:#333333;
	--bg-panel:#434343;
	--color-headings:#3694ff;
	--color-text:#b5b5b5;
}


body{
	background-color: var(--bg);
	
}

.container{
	background-color: var(--bg-panel);


h1{
   color: var(--color-headings);
}
p{
	color: var(--color-text);
}
}
*/
/*--------toggle section-----*/
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label
{
	cursor: pointer;text-indent: -9999px;
	width:52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;

}

label:after{
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition:0.3s;
}

input:checked + label
{
	background-color: var(--color-headings);

}

input:checked + label:after
{
	left: calc(100% - 5px);
	transform: translateX(-100%);

}
label:active:after{
	width:45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after{
	transition: all 750ms !important;
	transition-delay: 0 !important;
}



/*---------end of dark mode--------------*/


.body {
  background-color:#333333; /*slate grey-#767d92*/  /* charcoal #353C51*/
  color: white;
  font-family: sans-serif;
}

/*body
{
	font-family: sans-serif;
}*/
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;

}
.navbar
{
	background-image: linear-gradient(to right,#a517ba,#5f1782);
	padding: 0 !important;
}
.navbar-brand img
{
	height: 45px;
	padding-left: 20px;
}
.navbar-nav li{
	padding: 0 10px;
}
.navbar-nav li a
{
	color:#fff !important;
	font-weight: 600;
	float:right;
	text-align: left;

}
.fa-bars{
	color: #fff;
	font-size: 30px !important;
}
.navbar-toggler{
	outline: none !important;
}

#banner
{
	background-image:linear-gradient(to right,#a517ba,#5f1782);
	color:#fff;
	padding-top: 5%;
}

.promo-title{
	font-size: 40px;
	font-weight: 600;
	margin-top:100px;
}
#banner a{
	color: #fff;
	text-decoration: none;
}
.bottom-img{
	width: 100%;
	
}
.play-btn
{
	width: 45px;
	margin:20px; 
}
/*------services-section--------*/

#channels
{
	padding: 80 px 0;
}
.channels-img{
	width: 100px;
	margin-top: 20px;

}
.channels

{
	padding: 20px;
}
.channels h4
{
	padding: 5px;
	margin-top: 25px;
	/*text-transform: uppercase;*/
}
.title::before
{
	content:'';
	background: #7b1798;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto; 
	display: block;
	transform: translateY(63px);

}
.title::after
{
	content:'';
	background: #7b1798;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);

}
/*#channels .btn-primary
{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 20px;
	background-image:linear-gradient(to right,#a517ba,#5f1782);
	/*margin-bottom: 40px;*/
}

/*----------------about-us section----------*/

#about-us
{
	background: #f8f9fa;
	padding-bottom: 50px;
	padding-top:50px;
}

.about-title
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 8%;

}
#about-us ul li{
	margin: 10px 0;
}

#about-us ul {
	margin-left: 20px;
}
/*------------TESTIMONIALS---*/

#testimonials
{
	margin: 100px 0;

}
.testimonials
{
	border-left: 4px solid #7b1798;
	margin-top: 50px;
	margin-bottom: 50px;
}
.testimonials img
{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin:0 10px;
}
.user-details{
	display: inline-block;
	font-size: 14px;

}

/*---------------social media section*/
#social-media{
	background: #32323;
	padding: 100px 0;

}
#social-media p
{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
}

.social-icons img
{
	width: 60px;
	transition: 0.5s;
}

.social-icons a:hover img
{
	transform: translateY(-10px);
}

/*-------footer section------------*/
#footer{
background-image:linear-gradient(to right,#a517ba,#5f1782);
color:#fff;
}
.footer-img{
	width: 100%;
}

.footer-box{
    padding:20px;

}

.footer-box img
{
	width:120px;
	margin-bottom: 20px;
	border-radius: 20px;
	
}

.footer-box .fa
{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 8px;
	background-image:linear-gradient(to right,#a517ba,#5f1782);
}

.footer-box .form-control
{
	box-shadow: none !important;
	border:none;
	border-radius: 10;
	margin-top: 25px;
	max-width: 250px;
	background-color: #353C51;

}

.footer-box .btn-primary
{
	box-shadow: none !important;
	border:none;
	border-radius: 8px;
	margin-top: 30px;
	background-image:linear-gradient(to right,#a517ba,#5f1782);


}
hr
{
	background-color: #fff;
}

.copyright
{
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;

}

.profile-pic
{
	margin-top: 25px;
} 
.profile-pic .img-box
{
	opacity: 1;
	display: block;
	position: relative;

}

.profile-pic .img-box img
{
	filter: grayscale(1);

}

.profile-pic .img-box img:hover
{
	filter: grayscale(0);
	cursor: pointer;

}
.profile-pic h2
{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #007bff !important;
}

.profile-pic h3
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;

}

#team .fa
{
	height: 25px;
	width: 25px;
	color: #007bff !important;
	background: #fff;
	padding: 4px;
	border-radius: 50%;

}

.img-box ul

{
	padding: 15px 0;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}

.img-box ul li
{
	padding: 5px;
	display: inline-block; 
}

.img-box:hover ul
{
	opacity: 1;
}
.img-box ul, .img-box ul li
{
	transition: 0.5s;


}
.img-responsive{
	height: 120px;
	width: 120px;
	margin-bottom: 10px;
	border-radius: 50%;
}
.container-new{
	height: 100%;
	display: grid;
	align-items: center;
	justify-items:center;
	--bg: #fcfcfc;
	--bg-panel:#ebebeb;
	--colo-headings:#0077ff;
	--color-text:#333333;

}

body{
	background-color: var(--bg);
}
.container  